<div class="ui secondary menu">
    <h3 class="item header">Cards</h3>
    <div class="right menu">
        <div class="item">
            <button class="ui mini basic button">Add Card</button>
        </div>
    </div>
</div>
<div class="ui three cards">
    <div class="ui card">
        <div class="content">
            <div class="header">Dog</div>
            <div class="description">
                Many people also have their own barometers for what makes a cute dog.
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">Dog</div>
            <div class="description">
                Many people also have their own barometers for what makes a cute dog.
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">Dog</div>
            <div class="description">
                Many people also have their own barometers for what makes a cute dog.
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">Dog</div>
            <div class="description">
                Many people also have their own barometers for what makes a cute dog.
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">Dog</div>
            <div class="description">
                Many people also have their own barometers for what makes a cute dog.
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">Dog</div>
            <div class="description">
                Many people also have their own barometers for what makes a cute dog.
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">Dog</div>
            <div class="description">
                Many people also have their own barometers for what makes a cute dog.
            </div>
        </div>
    </div>
</div>