<div class="ui secondary menu">
    <h3 class="item header">Cards</h3>
    <div class="right menu">
        <div class="item">
            <a class="ui mini basic button">Add Card</a>
        </div>
    </div>
</div>
<div class="ui three cards">
    {% for card in cards %}
        <div class="ui card">
            <div class="content">
                <div class="header">{{ card['key'] }}</div>
                <div class="description">{{ card['value'] }}</div>
            </div>
        </div>
    {% endfor %}
</div>