{% include 'header.html' %}
<script>
    $("[href='/explore']").addClass('active')
</script>
<script>
    function filterCategory(key, val) {
        $(".cat-btn").addClass("basic");
        $(".cat-" + key + "-btn").removeClass("basic");
        $(".cat-filter").hide();
        $(".cat-" + key).show();
        $(".cat-filter-btn").show().html("<i class='remove icon'></i>" + val);
        console.log(".cat-" + key);
    }

    function filterButton() {
        $(".cat-btn").addClass("basic");
        $(".cat-filter").show();
        $(".cat-filter-btn").hide();
    }
</script>
<div class="ui two column centered grid">
    <div class="row"></div>
    <div class="row">
        <div class="thirteen wide column">
            <h1 class="header">
                Explore the world of cards!
            </h1>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <div id="profileInfo" class="three wide column">
            <div class="ui secondary menu">
                <h3 class="item header">Category</h3>
            </div>
            {% for key, val in categories_order %}
                <div class="ui fluid labeled button"
                     onclick="filterCategory('{{ key }}', '{{ categories[key] }}')"
                     style="text-align: left; margin-top: 3px">
                    <a class="ui teal basic button cat-{{ key }}-btn cat-btn">
                        <i class="book icon"></i> {{ categories[key] }}
                    </a>
                    <a class="ui basic teal left pointing label">
                        {{ val }}
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="ui ten wide column">
            <div class="ui secondary menu">
                <h3 class="item header">All House</h3>
                <div class="right menu">
                    <div class="item">
                        <a class="ui mini teal basic button cat-filter-btn"
                           onclick="filterButton()" style="display: none;">
                        </a>
                    </div>
                    <div class="item">
                        <a class="ui mini teal basic button" href="/create">New House</a>
                    </div>
                    <div class="item">
                        <form class="ui form" method="get" action="/explore">
                            <div class="field">
                                <select class="ui dropdown" name="sort-method" onchange="submit()">
                                    {% if not sort_method or sort_method == 'sort-no' %}
                                        <option value="sort-no">Sort by</option>
                                        <option value="sort-sub">Most Subscription</option>
                                        <option value="sort-view">Most view</option>
                                    {% elif sort_method == "sort-sub" %}
                                        <option value="sort-sub">Most Subscription</option>
                                        <option value="sort-view">Most view</option>
                                        <option value="sort-no">Lucky</option>
                                    {% elif sort_method == "sort-view" %}
                                        <option value="sort-view">Most view</option>
                                        <option value="sort-sub">Most Subscription</option>
                                        <option value="sort-no">Lucky</option>
                                    {% endif %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ui four cards">
                {% for house in houses %}
                    <a class="ui link card cat-{{ house['category'] }} cat-filter"
                         href="/house/{{ house['house_name'] }}">
                        <div class=" image">
                            <img src="{{ house['cover_url'] }}">
                        </div>
                        <div class="content">
                            <div class="header">
                                {{ house['house_name'] }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="row"></div>
</div>
{% include 'footer.html' %}