<style type="text/css">
    .push {
            height: 40px;
        }
</style>
<div class="push"></div>
</div>
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="four wide column">
                <h4 class="ui inverted header">Developer</h4>
                <div class="ui inverted link list">
                    <a href="https://www.linkedin.com/in/shuai-qin-950a98130/" class="item">@Shuai Qin</a>
                    <a href="https://www.linkedin.com/in/menghao-yang-5462b8133/" class="item">@Menghao Yang</a>
                    <a href="https://www.linkedin.com/in/yi-zhang-2abb03151/" class="item">@Yi Zhang</a>
                    <a href="https://www.linkedin.com/in/yaohuazhao/" class="item">@Yaohua Zhao</a>
                </div>
            </div>
            <div class="twelve wide column">
                <h4 class="ui inverted header">Support</h4>
                <div class="ui inverted link list">
                    <a href="https://cloud.google.com/appengine/" class="item">Google App Engine</a>
                    <a href="https://semantic-ui.com/" class="item">Semantic UI</a>
                    <a href="https://github.com/" class="item">Github</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>