
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="static/css/styles.css">
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <div id="hero" class="hero-section">

        <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="10000">

            <div class="figure-holder-wrapper">
        		<div class="container">
            		<div class="row">
                		<div class="figure-holder">
                	        <img class="figure-image img-responsive" src="static/images/imac.png" alt="image" />
                        </div><!--//figure-holder-->
            		</div><!--//row-->
        		</div><!--//container-->
    		</div><!--//figure-holder-wrapper-->

			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li class="active" data-slide-to="0" data-target="#hero-carousel"></li>
				<li data-slide-to="1" data-target="#hero-carousel"></li>
				<li data-slide-to="2" data-target="#hero-carousel"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">

				<div class="item item-1 active">
					<div class="item-content container">
    					<div class="item-content-inner">

				            <h2 class="heading">House of Cards is a simple<br class="hidden-xs"> tool for learning anything</h2>
				            <p class="intro">It helps you learn knowledge in flash cards in any where in any time. House of cards
                                understands how you learn based on Ebbinghaus forgetting curve and helps you review when you memory
                            is about to fade. So, don't worry about it so much, you will never forget a card.</p>

    					</div><!--//item-content-inner-->
					</div><!--//item-content-->
				</div><!--//item-->

				<div class="item item-2">
					<div class="item-content container">
						<div class="item-content-inner">

				            <h2 class="heading">Explore knowledge of the world</h2>
				            <p class="intro">Our sharing community has all kinds of knowledge and subjects. Subscribe any house you want to learn,
                            pull requests and raise issues. Contribute to our and your community, get and give! Learn and share.</p>

    					</div><!--//item-content-inner-->
					</div>
				</div><!--//item-->

				<div class="item item-3">
					<div class="item-content container">
						<div class="item-content-inner">

				            <h2 class="heading">Ready to build your own card houses?</h2>
				            <p class="intro">Easy to upload cards even by CSV file, pull requests, raise issues,
                                smart manage and quick quiz. Join us to explore more.</p>

    					</div><!--//item-content-inner-->
					</div>
				</div><!--//item-->
			</div><!--//carousel-inner-->

		</div><!--//carousel-->
    </div><!--//hero-->

    <div id="about" class="about-section">
        <div class="container text-center">
            <h2 class="section-title">Why Use House of Cards?</h2>
            <a class="btn btn-cta" href="/explore">Start Exploring Now</a>

            <div class="items-wrapper row">
                <div class="item col-mg-4 col-sm-4 col-sm-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="static/images/figure-1.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Explore Knowledge of All Fields</h3>
                        <div class="item-desc">
                            24 categories, thousands of cards, unlimited knowledge.
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-mg-4 col-sm-4 col-sm-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="static/images/figure-2.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Custom Study Plan</h3>
                        <div class="item-desc">
                            Set schedule and have your intelligent personal schedule.</div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-mg-4 col-sm-4 col-sm-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="static/images/figure-3.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">Mobile Learning</h3>
                        <div class="item-desc">
                            Download our Android App and study in anywhere in anytime.</div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//items-wrapper-->
        </div><!--//container-->
    </div><!--//about-section-->

    <div id="features" class="features-section">
        <div class="container text-center">
            <h2 class="section-title">Discover Features</h2>
            <p class="intro">various features</p>

            <div class="tabbed-area row">

                <!-- Nav tabs -->
                <ul class="feature-nav nav nav-pill nav-stacked text-left col-md-4 col-sm-6 col-xs-12 col-md-push-8 col-sm-push-6 col-xs-push-0" role="tablist">

                     <li role="presentation" class="active"><a href="#feature-1" aria-controls="feature-1" role="tab" data-toggle="tab"><i class="fa fa-heart"></i> Subscribe Houses</a></li>

                     <li role="presentation"><a href="#feature-1" aria-controls="feature-2" role="tab" data-toggle="tab"><i class="fa fa-cubes"></i> Create Your Own House</a></li>

                     <li role="presentation"><a href="#feature-1" aria-controls="feature-3" role="tab" data-toggle="tab"><i class="fa fa-rocket"></i> Upload Cards</a></li>

                    <li role="presentation"><a href="#feature-1" aria-controls="feature-4" role="tab" data-toggle="tab"><i class="fa fa-star"></i> Comments</a></li>

                    <li role="presentation"><a href="#feature-1" aria-controls="feature-5" role="tab" data-toggle="tab"><i class="fa fa-file-code-o"></i> Issues</a></li>

                    <li role="presentation"><a href="#feature-1" aria-controls="feature-6" role="tab" data-toggle="tab"><i class="fa fa-magic"></i> Pull Requests</a></li>

                    <li role="presentation"><a href="#feature-1" aria-controls="feature-7" role="tab" data-toggle="tab"><i class="fa fa-bar-chart"></i> Trending</a></li>

                    <li role="presentation"><a href="#feature-1" aria-controls="feature-8" role="tab" data-toggle="tab"><i class="fa fa-tablet"></i> Mobile Learning</a></li>

                </ul>

                <!-- Tab panes -->
                <div class="feature-content tab-content col-md-8 col-sm-6 col-xs-12 col-md-pull-4 col-sm-pull-6 col-xs-pull-0">
                    <div role="tabpanel" class="tab-pane fade in active" id="feature-1">
                        <a href="" target="_blank"><img class="img-responsive" src="static/images/feature-1.png" alt="screenshot" ></a>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="feature-2">
                        <a href="" target="_blank"><img class="img-responsive" src="static/images/feature-2.png" alt="screenshot" ></a>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="feature-3">
                        <a href="" target="_blank"><img class="img-responsive" src="static/images/feature-3.png" alt="screenshot" ></a>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="feature-4">
                        <a href="" target="_blank"><img class="img-responsive" src="static/images/feature-4.png" alt="screenshot" ></a>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="feature-5">
                        <a href="" target="_blank"><img class="img-responsive" src="static/images/feature-5.png" alt="screenshot" ></a>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="feature-6">
                        <a href="" target="_blank"><img class="img-responsive" src="static/images/feature-6.png" alt="screenshot" ></a>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="feature-7">
                        <a href="" target="_blank"><img class="img-responsive" src="static/images/feature-7.png" alt="screenshot" ></a>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="feature-8">
                        <a href="" target="_blank"><img class="img-responsive" src="static/images/feature-8.png" alt="screenshot" ></a>
                    </div>

                </div><!--//feature-content-->


            </div><!--//tabbed-area-->

        </div><!--//container-->
    </div><!--//features-->


    <div id="pricing" class="pricing-section">
        <div class="container text-center">
            <h2 class="section-title">Pricing</h2>
            <div class="intro">House of Card's future updates are 100% FREE for existing customers</div>
            <div class="pricing-wrapper">
                <div class="item item-1 col-md-4 col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <h3 class="item-heading">Single Application</h3>
                        <div class="price-figure">
                            <span class="currency">$</span><span class="number">20</span>
                        </div><!--//price-figure-->
                        <div class="price-desc">
                            <p>Restricted to a single installation...</p>
                            <a href="" target="_blank">License Details</a>


                        </div><!--//price-desc-->
                        <a class="btn btn-cta" href="">Buy Now</a>

                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item item-2 col-md-4 col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <h3 class="item-heading">Multiple Applications</h3>
                        <div class="price-figure">
                            <span class="currency">$</span><span class="number">80</span>
                        </div><!--//price-figure-->
                        <div class="price-desc">
                            <p>May extend to multiple installations...</p>
                            <a href="" target="_blank">License Details</a>


                        </div><!--//price-desc-->
                        <a class="btn btn-cta" href="">Buy Now</a>

                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item item-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <h3 class="item-heading">Extended</h3>
                        <div class="price-figure">
                            <span class="currency">$</span><span class="number">1200</span>
                        </div><!--//price-figure-->
                        <div class="price-desc">
                            <p>May license, sublicense, redistribute, or resell the item...</p>
                            <a href="" target="_blank">License Details</a>
                        </div><!--//price-desc-->
                        <a class="btn btn-cta" href="" target="_blank">Buy Now</a>

                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//pricing-wrapper-->

        </div><!--//container-->
    </div><!--//pricing-section-->
    <div id="contact" class="contact-section">
        <div class="container text-center">
            <h2 class="section-title">Contact Us</h2>
            <div class="contact-content">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.</p>

            </div>
            <a class="btn btn-cta btn-primary" href="">Get in Touch</a>

        </div><!--//container-->
    </div><!--//contact-section-->


    <!-- Javascript -->
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>


