{% include 'header.html' %}

<div class="ui two column centered grid">
    <div class="row">
        <div class="three wide column">
            <h2 class="header">
                {{ pigeon }}'s House
            </h2>
            <div class="ui fluid card">
                <div class="image">
                    <img src="/static/b.png">
                </div>
                <div class="content">
                    <a class="header">Block</a>
                </div>
            </div>
        </div>
        <div class="ten wide column">
        </div>
    </div>
</div>

{% include 'footer.html' %}