<div class="ui secondary menu">
    <h3 class="item header">Comments</h3>
    <div class="right menu">
        <div class="item">
            <button class="ui mini basic button">Add Comments</button>
        </div>
    </div>
</div>
<div class="ui small comments">
  <div class="comment">
    <a class="avatar">
      <img src="/static/pigeon.png">
    </a>
    <div class="content">
      <a class="author">Pigeon 1</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
</div>