<div class="ui secondary menu">
    <h3 class="item header">Pull Requests</h3>
    <div class="right menu">
        <div class="item">
            <button class="ui basic teal button" onclick="showform()">New Pull Request</button>
        </div>
    </div>
</div>
<script>

    function showform() {
        $(document).ready(function () {
            $(".page-create-form").show();
        })
    }

    function hideform() {
        $(document).ready(function () {
            $(".page-create-form").hide();
        })
    }

    $(document).ready(function () {
        $('.selection.dropdown')
            .dropdown()
        ;
    });

    function changeFormContent() {
        var val = $("#pr-mode").val();
        var card_key_field = $("#pr-card-key");
        var new_key_field = $("#pr-new-key");
        var new_content_field = $("#pr-new-content");
        $(".pr-input").parent().removeClass("disabled");
        console.log(val);
        function sameInput() {
                    card_key_field.val(new_key_field.val());
                }
        switch (val) {
            case "add":
                card_key_field.parent().addClass("disabled");
                new_key_field[0].addEventListener("input", sameInput);
                break;
            case "remove":
                new_key_field.parent().addClass("disabled");
                new_content_field.parent().addClass("disabled");
                break;
            case "key":
                new_content_field.parent().addClass("disabled");
                break;
            case "content":
                new_key_field.parent().addClass("disabled");
                break;
        }
    }
</script>
<div class="page-create-form ui segment" style="display: none; width: 97%; margin-left: 1.5%">
    <form class="ui form" method="post" action="/create-pr/{{ house }}">
        <div class="two fields">
            <div class="field">
                <label>Mode</label>
                <div class="ui selection dropdown" onchange="changeFormContent()">
                    <input type="hidden" name="mode" id="pr-mode">
                    <div class="default text">Select a mode</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="add">Add</div>
                        <div class="item" data-value="remove">Remove</div>
                        <div class="item" data-value="key">Key</div>
                        <div class="item" data-value="content">Content</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Card Key</label>
                <input type="text" name="card_key" class="pr-input" id="pr-card-key" placeholder="Card Key">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>New Key</label>
                <input type="text" name="new_key" class="pr-input" id="pr-new-key" placeholder="New Key">
            </div>
            <div class="field">
                <label>New Content</label>
                <input type="text" name="new_value" class="pr-input" id="pr-new-content" placeholder="New Content">
            </div>
        </div>
        <input class="ui basic teal button" type="submit" value="Create">
        <a class="ui basic black button" onclick="hideform()">Cancel</a>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('.card').hover(
            function () {
                $(this).find('.extra.content').slideDown(500);
            },
            function () {
                $(this).find('.extra.content').slideUp(500);
            }
        );
    })
</script>
<div class="ui one cards">
    {% for pr in prs %}
        <div class="ui card">
            <div class="content">
                <div class="header">{{ pr['mode'] }}</div>
                <div class="meta">{{ pr['date'] }}</div>
                <div class="description">
                    {% if pr['mode'] == 'add' %}
                        Key: {{ pr['newkey'] }}, Content: {{ pr['newcontent'] }}
                    {% elif pr['mode'] == 'remove' %}
                        Key: {{ pr['card_key'] }}
                    {% elif pr['mode'] == 'key' %}
                        Key: {{ pr['card_key'] }}, New Key: {{ pr['newkey'] }}
                    {% else %}
                        Key: {{ pr['card_key'] }}, New Content: {{ pr['newcontent'] }}
                    {% endif %}
                </div>
            </div>
            {% if is_owned %}
                <div class="extra content" style="display: none">
                    <div class="ui two buttons">
                        <a class="ui basic green button"
                           href="/resolve-pr/{{ house }}/{{ pr['date'] }}/approve/{{ pr['user_id'] }}">Approve</a>
                        <a class="ui basic red button"
                           href="/resolve-pr/{{ house }}/{{ pr['date'] }}/reject/{{ pr['user_id'] }}">Decline</a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>