<div class="ui two column centered grid">
    <div class="row"></div>
    <div class="row">
        <div class="thirteen wide column">
            <h2 class="header">
                Hi test,
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="four wide column">
            <div class="ui secondary menu">
                <h3 class="item header">Learning</h3>
            </div>
            {% if subed_houses %}
                <div class="ui card">
                    <div class="image">
                        <img src="{{ subed_houses[0]['cover_url'] }}">
                    </div>
                    <div class="content">
                        <a class="header">{{ subed_houses[0]['house_name'] }}</a>
                    </div>
                </div>
            {% else %}
                <div class="ui card">
                    <div class="image">
                        <img src="/static/b.png">
                    </div>
                    <div class="content">
                        <a class="header" href="/explore">To Subscribe to learn</a>
                    </div>
                </div>
            {% endif %}

            <div class="ui secondary menu">
                <h3 class="item header">News</h3>
            </div>
            <div class="ui small comments">
                <div class="comment">
                    <a class="avatar">
                        <img src="/static/pigeon.png">
                    </a>
                    <div class="content">
                        <a class="author">Pigeon 1</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM</span>
                        </div>
                        <div class="text">
                            How artistic!
                        </div>
                        <div class="actions">
                            <a class="reply">Reply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nine wide column">
            <div class="ui secondary menu">
                <h3 class="item header">Managing</h3>
                <div class="right menu">
                    <div class="item">
                        <a href="/create" class="ui mini basic button">New House</a>
                    </div>
                </div>
            </div>
            <div class="ui four cards">
                {% if not owned_houses %}
                    <a class="ui link card" href="/create">
                        <div class="image">
                            <img src="/static/small-plus.png">
                        </div>
                        <div class="content">
                            <div class="header">Create House</div>
                        </div>
                    </a>
                {% endif %}
                {% for house in owned_houses %}
                    <a class="ui link card" href="/house/{{ house['house_name'] }}">
                        <div class="image">
                            <img src="{{ house['cover_url'] }}">
                        </div>
                        <div class="content">
                            <div class="header">{{ house['house_name'] }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="ui secondary menu">
                <h3 class="item header">Watching</h3>
            </div>
            <div class="ui four cards">
                {% for house in subed_houses %}
                    <a class="ui link card" href="/house/{{ house['house_name'] }}">
                        <div class="image">
                            <img src="{{ house['cover_url'] }}">
                        </div>
                        <div class="content">
                            <div class="header">{{ house['house_name'] }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>
